* {
    margin: 0;
    padding: 0;
}

a,
a:hover {
    text-emphasis: none;
    color: #fff;
}

ul,
ol,
li {
    list-style: none;
}

.pt_79 {
    padding-top: 79px;
}

.pb_79 {
    padding-bottom: 79px;
}


body {
    font-family: 'Myriad Pro';
    font-weight: 400;
}
/**************font-***********/
.font_36 {

    font-size: 36px
}

.font_52 {

    font-size: 52px
}
.font_48 {

    font-size: 48px
}

.font_16 {

    font-size: 16px
}

.font_14 {

    font-size: 14px
}
.font_12 {

    font-size: 12px
}
.font_13 {

    font-size: 13px
}

.font_22 {
    font-size: 22px;
}
.font_24{
    font-size: 24px;
}


.font_30 {
    font-size: 30px;
}

.font_18 {
    font-size: 18px;
}

.font_20 {
    font-size: 20px;
}
/**************color************/

.cc_959595{
    color:#959595;
}

.cc_555 {
    color: #555;
}
.cc_363636 {
    color: #363636;
}

.cc_8c8c8c {
    color: #8c8c8c;
}

.cc_fbfaf8 {
    background: #fbfaf8;
}
.cc_998675 {
    background: #998675;
    text-transform: uppercase;
}

.cc_c7b299 {
    color: #c7b299;
}
.bcc_c7b299{
    background: #c7b299;
}

.cc_615855 {
    color: #615855;
}
.bcc_191919{
 background:#191919;
}

/*commom css area end*/


/*banner area start*/
.logo1{
    display: none;
}

#banner {
    background-image: url(../images/bannar.jpg);
    background-position: center;

    background-size: cover;
    padding: 380px 0 375px;

}

/*banner area end*/


/*service area start*/


#service .b_bar {

    position: relative;


}

#service .b_bar:after {
    content: "";
    display: block;
    position: absolute;
    left: 100px;
    bottom: 0;
    width: 70px;
    border-bottom: 3px solid #f1eee9;
}

#service .b_bar:hover:after {
    border-color: #c7b299;
}

#service .b_bar:hover {
    color: #c7b299;
}

/*service area end*/


/*themeShow area start*/
#themeShow .theme {
    position: relative;
    z-index: 1;
}

#themeShow .theme::before {

    background-image: url(../images/theme_3.jpg);
    content: '';
    left: -5%;
    top: 106px;
    width: 50%;
    height: 80%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;

}

#themeShow .theme::after {

    background-image: url(../images/theme_2.jpg);
    content: '';
    right: -7%;
    top: 106px;
    width: 71%;
    height: 81%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;


}

/*themeShow area end*/

/*themeShow_b area strat*/
#themeShow_b {
    background-image: linear-gradient(45deg, #221b1a, #261e1b, #2f231e, #412d23, #4c3226);
    height: 154px;
    width: 100%;
}





/*themeShow_b area end*/


/*latestPost area start*/


#latestPost .l_post .latest_img{
    position: relative;
    overflow: hidden;
}

.latest_img .img_m_icon{
    
    position: absolute;
    top:-100%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.39);
    
    transition: all linear .2s;
    
    
    
}
.latest_img:hover .img_m_icon {
    top: 0;
    color: #fff;
    transform: scale(1) rotate(-360deg);
    
}
.latest_img:hover .l_post_t h2{
    background:red;
    
}

#latestPost .l_post .l_post_t {
    
    position: relative;
    
}

#latestPost .l_post .l_post_t::before {
    content: "";
    display: block;
    position: absolute;
    top: -13px;
    left: 13px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #f8f9fa

}

/*latestPost area end*/


/*video area start*/
#video{
    background-image: url(../images/video.jpg);
    background-position: center;
    -webkit-background-size: ;
    background-size:cover;
    padding: 110px 0;
}

/*video area end*/


/*mobile area start*/



/*mobile area end*/


/*statistic area start*/


#statistic {
    background-image: linear-gradient(45deg, #221b1a, #261e1b, #2f231e, #412d23, #4c3226);
    
}

#statistic .b_bar {

    position: relative;
    position: relative;
    display: flex;
    justify-content: center;


}

#statistic .b_bar:after {
   content: "";
    display: block;
    position: absolute;
    bottom: -32px;
    width: 30px;
    border-bottom: 3px solid #fff;
}

#statistic .b_bar:hover:after {
    border-color: #c7b299;
}

#statistic .b_bar:hover {
    color: #c7b299;
}
/*statistic area end*/

/*recentPost area start*/

.card-box-overr{
    position: relative;
}
.card:hover{
   background: rgba(0, 0, 0, 0.452);
}
.card-box-over{
  color: #fff;
    width: 48px;
    height: 60px;
    background-image: linear-gradient(to top , #363636 0%,#000 70%);
    position: absolute;
    top: 17px;
    left: 33px;
    text-align: center;
    line-height: 5px;
   
}
/*recentPost area end*/


/*partner area start*/

#partner{
    background-image: url(../images/partner_bg.jpg);
    background-position: center;
    -webkit-background-size: cover;
    background-size:cover;

}
#partner .overlay{
   width: 100%;
    background: rgba(0, 0, 0, 0.36);
    height: 100%;

}

/*partner area end*/

/*footer_bottom area start*/
#footer_bottom{
    height: 110px;
    width: 100%;
    background: #111;
    
}
#footer_bottom ul{
        transform: translate(0%, 50px);
    
}


/*footer_bottom area end*/


    



/*costom bootstrap*/

.carousel-indicators {
    position: absolute;
    bottom: -335px !important;
}

.custom-active {
    color: #fff;
    background-color: #998675;
}

/* *************************** */

/* +++++responsive++++ */

@media (min-width:768.1px) and (max-width:993px){
    .logo{
        display: none;
    }
    .logo1{
        display: block;
        position: absolute;
        left: 50%;
    }
    #s-none{
        display: none;
    }
    #ticon{
        position: absolute;
        right: 20px;
        top: -25px;
}
}
/* ***************************** */

@media (max-width:768px){
    .logo{
        display: none;
    }
    .logo1{
        display: block;
        position: absolute;
        left: 100px;
    }

    #s-none{
        display: none;
    }
    #ticon{
        position: absolute;
        right: 20px;
        top: -25px;
}

#themeShow .theme::before {

    display: none;

}

#themeShow .theme::after {

   display: none;


}
#themeShow .theme {

    margin-bottom: 30px;
 
 
 }
 #themeShow_b{
    height: auto;
    
 }
 #themeShow_b button{
    position: absolute;
    top: -56px;
    font-size: 10px;
    right: 10px;
    
 }
 #latestPost ul{
     display: none;
 }

 
    


}